<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>VietNam</param-value>
    </context-param>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>sample.Servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>sample.Servlet.searchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>sample.Servlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>sample.Servlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>sample.Servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>sample.Servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>sample.Servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>sample.Servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>sample.Servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>sample.Servlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPlantServlet</servlet-name>
        <servlet-class>sample.Servlet.getPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountServlet</servlet-name>
        <servlet-class>sample.Servlet.manageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>sample.Servlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>sample.Servlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterOrdersServlet</servlet-name>
        <servlet-class>sample.Servlet.filterOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantsServlet</servlet-name>
        <servlet-class>sample.Servlet.managePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrdersServlet</servlet-name>
        <servlet-class>sample.Servlet.manageOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerCategoriesServlet</servlet-name>
        <servlet-class>sample.Servlet.managerCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPlantsByNameServlet</servlet-name>
        <servlet-class>sample.Servlet.searchPlantsByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfileServlet</servlet-name>
        <servlet-class>sample.Servlet.changeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderServlet</servlet-name>
        <servlet-class>sample.Servlet.cancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderagainOrderServlet</servlet-name>
        <servlet-class>sample.Servlet.orderagainOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmOrderServlet</servlet-name>
        <servlet-class>sample.Servlet.confirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderManageServlet</servlet-name>
        <servlet-class>sample.Servlet.cancelOrderManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountUnBlockServlet</servlet-name>
        <servlet-class>sample.Servlet.updateStatusAccountUnBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountBlockServlet</servlet-name>
        <servlet-class>sample.Servlet.updateStatusAccountBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOrderManageServlet</servlet-name>
        <servlet-class>sample.Servlet.searchOrderManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCategoriesByNameServlet</servlet-name>
        <servlet-class>sample.Servlet.searchCategoriesByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAvailablePlantServlet</servlet-name>
        <servlet-class>sample.Servlet.updateStatusAvailablePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusNotAvailablePlantServlet</servlet-name>
        <servlet-class>sample.Servlet.updateStatusNotAvailablePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantServlet</servlet-name>
        <servlet-class>sample.Servlet.updatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCategoryServlet</servlet-name>
        <servlet-class>sample.Servlet.createCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPlantServlet</servlet-name>
        <servlet-class>sample.Servlet.createPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoryServlet</servlet-name>
        <servlet-class>sample.Servlet.updateCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPlantServlet</servlet-name>
        <url-pattern>/getPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountServlet</servlet-name>
        <url-pattern>/manageAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterOrdersServlet</servlet-name>
        <url-pattern>/filterOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantsServlet</servlet-name>
        <url-pattern>/managePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrdersServlet</servlet-name>
        <url-pattern>/manageOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerCategoriesServlet</servlet-name>
        <url-pattern>/managerCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPlantsByNameServlet</servlet-name>
        <url-pattern>/searchPlantsByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfileServlet</servlet-name>
        <url-pattern>/changeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderServlet</servlet-name>
        <url-pattern>/cancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderagainOrderServlet</servlet-name>
        <url-pattern>/orderagainOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderManageServlet</servlet-name>
        <url-pattern>/cancelOrderManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountUnBlockServlet</servlet-name>
        <url-pattern>/updateStatusAccountUnBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountBlockServlet</servlet-name>
        <url-pattern>/updateStatusAccountBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOrderManageServlet</servlet-name>
        <url-pattern>/searchOrderManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCategoriesByNameServlet</servlet-name>
        <url-pattern>/searchCategoriesByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAvailablePlantServlet</servlet-name>
        <url-pattern>/updateStatusAvailablePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusNotAvailablePlantServlet</servlet-name>
        <url-pattern>/updateStatusNotAvailablePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantServlet</servlet-name>
        <url-pattern>/updatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCategoryServlet</servlet-name>
        <url-pattern>/createCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPlantServlet</servlet-name>
        <url-pattern>/createPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoryServlet</servlet-name>
        <url-pattern>/updateCategoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
